body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(72, 255, 0);
}
h1,p{
    text-align: center;
}
.sad{
    display: flex;
justify-content: center;
}
a{
    color: rgb(255, 0, 0);
    text-decoration: none
}



